.node circle {
  fill: rgb(255, 255, 255);
  fill-opacity: 0.75;
  stroke: #FFCCCC;
  stroke-width: 2px;
}

.leaf circle:hover{
	stroke-width: 3px;
}

.node circle:hover{
	stroke-width: 3px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 0.75;
}

.legendPack{
	stroke-width: 1px;
	fill-opacity: 0.75;
}

.circlePack{
	position: absolute;
	left: 50px;
	top: 200px; 
	border: solid 4px #05B2B2;
	border-radius:25px;
}

.network{
	position: absolute;
	left: 50px;
	top: 900px; 
	border: solid 5px #05B2B2;
	border-radius:25px;
	
}

.sunburst{
	position: absolute;
	left: 50px;
	top: 1600px; 
	border: solid 5px #05B2B2;
	border-radius:25px;
	
}

.icicle{
	position: absolute;
	left: 50px;
	top: 2300px; 
	border: solid 5px #05B2B2;
	border-radius:25px;
	
}

.treemap{
	position: absolute;
	left: 50px;
	top: 3000px; 
	border: solid 5px #05B2B2;
	border-radius:25px;
	
}

text {
  font: 10px sans-serif;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
    font: 10px sans-serif;
}

.forcenode {
	fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.forcenode {
    font: 10px sans-serif;
}
.forcelink {
    fill: none;
    stroke: #ff8888;
    stroke-width: 1.5px;
}

.sunpath {
  stroke: #fff;
  fill-rule: evenodd;
}

.treemapnode {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}